{
  "parser": "babel-eslint",
  "extends": "airbnb-base",

  "rules": {
    "no-restricted-syntax": [0],
    "no-mixed-operators": [0],
    "no-underscore-dangle": [0],
    "arrow-parens": [2, "as-needed"]
  },

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
}
